<script>
window.addEventListener('DOMContentLoaded', () => {
   let jsTargets = document.getElementsByClassName('js-target');

   for (var i = 0; jsTargets.length > i; i++) {
   let isActive = jsTargets[i].href === location.href
   if (isActive) {
     jsTargets[i].classList.add('active');
   }
}
})
</script>

<nav class="navbar navbar-expand-md navbar-light">
    <div class="navigation-header">
        <div class="ml-auto d-sm-block d-md-none">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                ▼ 日誌一覧
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            {% for page in site.pages reversed %}
            {% if page.category == 'Diary' %}
            <li class="nav-item">
                <a class="nav-link js-target" href="{{page.permalink}}">{{page.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
