<nav class="navbar navbar-expand-md navbar-light">
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link {% if page.permalink == '/diaries/1.0/en/' %}active{% endif %}" href="/introduction">イントロダクション</a>
            </li>
            <li>
                <a class="nav-link {% if page.permalink == '/diaries/1.0/en/quick-start.html' %}active{% endif %}" href="/diaries/2021_10_03">2021年10月03日</a>
            </li>
        </ul>
    </div>
</nav>
