<script src="/js/generate-content-list.js"></script>

<nav class="navbar navbar-expand-md navbar-light">
    <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
            {% for page in site.pages reversed %}
            {% if page.category == 'Column' %}
            <li class="nav-item">
                <a class="nav-link js-target" href="{{page.permalink}}">{{page.title}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>
